footer {
    text-align: center;
    background: #37474f;
    padding: 0.7em 0;

    p {
        color: white;
    }

    a {
        color: #ff8f00;
        text-decoration: none;
        transition: 0.25s;

        &:hover {
            transition: 0.25s;
            color: #ffc107;
        }
    }
}
