<footer>
    <p>
        Pokédex feita por <a href="https://github.com/GuilhermeTonello" target="_blank" rel="noopener noreferrer">Guilherme Tonello</a> e 
        <a href="https://github.com/darthVarada" target="_blank" rel="noopener noreferrer">Victor Barradas</a>.
        <br />
        O código desse site pode ser encontrado no 
        <a href="https://github.com/GuilhermeTonello/pokedex-ng" target="_blank" rel="noopener noreferrer">
            <i class="bi-github"></i> GitHub
        </a>
    </p>
</footer>
